@font-face {
  font-family: "Rosario";
  src: url("fonts/Rosario-Light.woff");
}

* {
  font-family: "Rosario", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html body {
  margin: 8px;
  background-color: black;
  color: white;
}

html body section {
  margin: 3em auto;
}

html body .top-nav-container {
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

html body .top-nav-container .top-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: grey;
  padding: 0.2em;
}

html body .top-nav-container .top-nav .banner a {
  color: black;
  text-decoration: none;
}

html body .top-nav-container .top-nav #menuIcon {
  align-self: center;
}

html body .top-nav-container .top-nav #menuIcon #menu {
  background-color: transparent;
  border: none;
  width: 3em;
}

html body .top-nav-container .top-nav #menuIcon #menu img {
  width: 100%;
}

html body .top-nav-container .top-nav .nav-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 3;
  background-color: #3f3b3b;
  margin: 0;
  transition: ease-in-out 1s;
}

html body .top-nav-container .top-nav .nav-container #closeMenu {
  position: absolute;
  width: 3em;
  right: 45%;
  top: 4em;
  border: none;
  background-color: transparent;
}

html body .top-nav-container .top-nav .nav-container #closeMenu img {
  width: 100%;
}

html body .top-nav-container .top-nav .nav-container #closeMenu:active {
  border: 1px solid white;
}

html body .top-nav-container .top-nav .nav-container nav {
  display: flex;
  height: 50%;
  width: fit-content;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
}

html body .top-nav-container .top-nav .nav-container nav a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  font-size: 120%;
  transition: ease-in-out 0.5s;
}

html body .top-nav-container .top-nav .nav-container nav a:hover {
  color: black;
}

html body .btn-holder {
  position: static;
  margin-top: 2em;
  width: 90%;
}

html body .btn-holder button {
  box-sizing: border-box;
  padding: 1em;
  font-weight: 600;
  font-size: 90%;
  border: none;
  transition: ease-in-out 0.5s;
}

html body .btn-holder .btn-primary {
  background-color: #817c7c;
  color: black;
}

html body .btn-holder .btn-secondary {
  border: 1px #817c7c solid;
  background-color: transparent;
  color: #817c7c;
}

html body .btn-holder .btn-primary:hover {
  background-color: #3f3b3b;
  border: 1px solid #817c7c;
}

html body .btn-holder .btn-secondary:hover {
  background-color: rgba(70, 65, 65, 0.678);
  color: black;
}

html body .center {
  width: fit-content;
  margin: 1em auto;
}

html body #home {
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

html body #home .home-text {
  position: relative;
  left: 1.5em;
  top: 20%;
}

html body #home .home-text h4 {
  margin-bottom: 0;
}

html body #home .home-text h2 {
  margin: 0;
}

html body #home .home-text p {
  font-weight: 200;
}

html body #about {
  margin-top: 0;
}

html body #about .img-holder {
  width: 60%;
}

html body #about .img-holder img {
  width: 100%;
  border-radius: 100%;
}

html body #about .details .skills ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

html body #about .details .skills .skill-holder p {
  font-weight: bold;
}

html body #about .details .skills .skill-holder .prog-div {
  width: 80%;
  height: 0.5em;
}

html body #about .details .skills .skill-holder .prog-div .prog-full {
  width: 100%;
  height: inherit;
  background-color: grey;
}

html body #about .details .skills .skill-holder .prog-div .prog-full .prog-value {
  height: inherit;
  background-color: brown;
  width: 80%;
}

html body #certificates .cert-holder .cert-image {
  width: 80%;
  margin: auto;
}

html body #certificates .cert-holder .cert-image img {
  width: 100%;
}

html body #certificates .cert-holder .cert-text {
  width: 90%;
  max-width: 100em;
  margin: auto;
}

html body #works .proj-holder .proj-img-holder .btn-holder {
  position: static;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}

html body #works .proj-holder .proj-img-holder .btn-holder button {
  width: 100%;
}

html body #works .proj-holder .proj-img-holder .btn-holder .btn-primary {
  margin-bottom: 0.5em;
}

html body #contact .container-fluid .form form .f-group input,
html body #contact .container-fluid .form form .f-group textarea {
  display: block;
  margin: 1em auto;
  border: none;
  background-color: transparent;
  border-bottom: 1px #c0b8b8 solid;
  width: 98%;
  color: white;
}

html body #contact .container-fluid .form [type="submit"] {
  width: 100%;
  padding: 1em;
  border: none;
  margin: auto;
  cursor: pointer;
}

html body #contact .container-fluid .form [type="submit"]:hover {
  background-color: grey;
  color: white;
}

html body #contact .container-fluid .vertical-rule {
  display: none;
}

html body footer .social {
  margin: 3em auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

html body footer .social .s {
  width: 4em;
}

html body footer .social .s a {
  text-decoration: none;
  color: inherit;
}

html body footer .social .s a span {
  display: none;
}

html body footer .social .s a img {
  width: 1em;
  margin-bottom: 0;
}

html body footer .social .s a:hover {
  cursor: pointer;
}

html body footer .legal {
  text-align: center;
  font-size: 70%;
}

html body footer .legal span {
  display: block;
}

@media screen and (min-width: 768px) {
  html body section {
    margin: 7em auto;
  }
  html body .top-nav-container {
    position: relative;
  }
  html body .top-nav-container .top-nav button {
    display: none;
  }
  html body .top-nav-container .top-nav .nav-container {
    overflow-x: initial;
    position: static;
    display: block;
    width: fit-content;
    height: fit-content;
    align-self: center;
    background-color: transparent;
  }
  html body .top-nav-container .top-nav .nav-container nav {
    display: initial;
  }
  html body .top-nav-container .top-nav .nav-container nav a {
    display: inline;
  }
  html body #home {
    position: relative;
  }
  html body #home .home-text {
    left: 20%;
    top: 30%;
  }
  html body #about .img-holder {
    width: 20%;
  }
  html body #about .details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  html body #about .details p {
    width: 45%;
  }
  html body #about .details .skills {
    width: 50%;
  }
  html body #certificates .cert-holder .cert-image {
    width: 50%;
    margin: auto;
  }
  html body #works .proj-holder .proj-img-holder .btn-holder {
    display: block;
    text-align: right;
  }
  html body #works .proj-holder .proj-img-holder .btn-holder button {
    width: 15%;
    max-width: 10em;
  }
  html body #contact .container-fluid {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  html body #contact .container-fluid .vertical-rule {
    display: block;
    width: 0;
    height: 20em;
    border-right: 1px white solid;
  }
  html body #contact .container-fluid .form {
    width: 65%;
  }
  html body #contact .container-fluid .physical {
    width: 30%;
  }
  html body footer .center {
    color: white;
    text-decoration: none;
  }
  html body footer .social .s {
    width: fit-content;
  }
  html body footer .social .s a span {
    display: initial;
  }
  html body footer .legal span {
    display: initial;
  }
}
